html, body
{
	margin: 0;
	padding: 0;

	width: 100%;
}

.titre_image_logo
{
    width:  9em; margin: -2.5em; 
}

/* Mise en page de l'intro */
#main_bis
{
	text-align: center;

		width: 60%;
		background-color: rgba(0, 0, 0, 0.7);
		margin: auto;
		padding-top: 3em;
		padding-bottom: 1em;
		padding-right: 2em;
		padding-left: 2em;
		border: 0;
		border-top: 0em;
		
		position: relative;
		z-index: 2;

		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;

		color: white;

}

#headersection
{
	position: relative;

	width: 100%;
	height: 6em;
	margin-top: 0.5em;

}

.imagelogo_page
{
	position: absolute;
	z-index: 3;



	width: inherit;
	height: inherit;

	opacity: 0.8;
}

#descriptionpage
{
	width: 100%;
	margin-bottom: 0em;

}

#titre_h1
{
	font-family: "Source Sans Pro", Helvetica, sans-serif;

	text-align: center;

	text-transform: uppercase;
		
	text-decoration: none;

	color: white;
	font-weight: bold;
	font-size: 2em;
	letter-spacing: 0.2em; 

	line-height: 1.5em; 

	margin-bottom: 1em;
	margin-left: 10%;
	margin-right: 10%;

	text-shadow: 0px 0px 0px black, 1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, -1px 0 0 black, 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;

}

/* Fin de l'intro */ 



.main_section
{
    position: relative;
    z-index: 1;

	width: inherit;

	margin-top: 2em;

	display: flex;
	justify-content: space-around;
}

.main_section a
{
    color: orange;
}

.main_section a:hover
{
    color: red;
}

.section_site
{
	width: 25%;
	min-height: inherit;

	border-radius: 20px;
	border-color: white;
	border-width: 2px;
	background-color: rgba(0, 0, 0, 0.7);

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	
	margin-bottom: 3em;
}



.section_site:hover
{
    transform: scale(1.05);
    transition-duration: 750ms;
    transition-timing-function: ease;


}

.section_site h1
{
	color: white;

	text-align: center;

	font-family: "Source Sans Pro", "Comic Sans MS", Helvetica, sans-serif;

	text-transform: uppercase;
	text-decoration: none;

	font-size: 1.5em;
	letter-spacing: 0.05em; 

	line-height: 1.5em; 

	margin-top: 0.5em;

	text-shadow: 6px 6px 6px black, 1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, -1px 0 0 black, 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;

}

.section_site p
{
	color: white;

	text-align: center;

	font-family: "Comic Sans MS", Helvetica, sans-serif;

	font-size: 1em;
	letter-spacing: 0.05em; 

	line-height: 1.5em; 

	/* margin-top: 4vh; */
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;

	text-shadow: 6px 6px 6px black, 1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, -1px 0 0 black, 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;

}



/* Ici, gestion de Tipeee, subscribe */
.p_intro
{
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: 3em;
	margin-right: 3em;

	background-color: rgba(252, 138, 138, 0.5);
	box-shadow: none;
	text-align: center;
	font-size: 1.1em;
	line-height: 1.5em;

	padding-left: 2em;
	padding-right: 2em;
	padding-top: 2em;
	padding-bottom: 2em;
}

#tipeee_div
{
	display: flex;

	justify-content: space-between;

	align-items: center;

	margin-top: 3em;
	margin-bottom: 3em;

	padding-left: 3em;
	padding-right: 3em;
}

#tipeee_photos
{
 	width: 22%;

 	text-align: center;
}

#tipeee_p-tot
{
	width: 75%;
	margin: 0;
}
.tipeee_p
{
	margin-left: 0;
	margin-right: 0;

	margin-bottom: 0.5em;
}


.h2_tipeee
{
	text-align: center;

	text-decoration: underline;

	font-size: 1.2em;

	margin-bottom: 1em;
}

.p_center
{
	font-size: 1.75em;
	line-height: 1.5em;

	text-align: center;

	margin-top: 1em;
	}
/* Mise en page de la liste des logos */
#listes-logo
{
    text-align: center;

    margin-top: 2em;
margin-bottom: 2em;
}

#listes-logo a
{
position: relative;
z-index: 2;

margin-left: 2em;

}

.images_logo
{
    width: 7%;
}

/* Fin de mise en page de la liste des logos */

.images_gauche
{

	margin-top: 3em;

	width: 90%;

	animation: tipeeevibr 5s ease-out infinite;
	-moz-animation: tipeeevibr 5s ease-out infinite; /* Firefox */
    -webkit-animation: tipeeevibr 5s ease-out infinite; /* Safari et Chrome */
    -o-animation: tipeeevibr 5s ease-out infinite; /* Opera */
}

.images_gauche:hover
{
	width: 100%;
	transition-duration: 500ms; 
}
/* Fin de Tipeee Subscribe */


.strong
{
	color: orange;

	text-align: center;

	font-family: "Comic Sans MS", Helvetica, sans-serif;

	font-size: 1em;
	letter-spacing: 0.05em; 

	line-height: 1.5em; 

	text-decoration: underline;

	margin-bottom: 2em;

	margin-left: 0.5em;
	margin-right: 0.5em;
}

.main_section
{
	width: 64%;

	/* border-radius: 20px; */

	background-color: rgba(53, 92, 77, 0.9);

	display: flex;
	flex-direction: column;
	justify-content: space-between;

    margin: auto;
    margin-top: 2em;
}

.main_section h1
{
	color: red;

	text-align: center;

	font-family: "Source Sans Pro", "Comic Sans MS", Helvetica, sans-serif;

	text-transform: uppercase;
	text-decoration: none;

	font-size: 2em;
	letter-spacing: 0.05em; 

	line-height: 1.5em; 

	margin-top: 0.5em;
	margin-bottom: 1em;

	text-shadow: 6px 6px 6px black, 1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, -1px 0 0 black, 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;

}

.main_section p
{
	color: white;


	text-align: justify;

	font-family: "Comic Sans MS", Helvetica, sans-serif;

	font-size: 1em;
	letter-spacing: 0.05em; 

	line-height: 1.5em; 

	/* margin-top: 4vh; */
	margin-left: 3em;
	margin-right: 3em;
    margin-bottom: 2em;

	text-shadow: 0px 0px 0px black, 1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, -1px 0 0 black, 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;

}

.description_main .p, .p_center, .description_main ul
{
	margin-bottom: 1em;

	margin-left: 3em;
	margin-right: 3em;
}

.description_main li 
{

	margin-left: 2em;
	margin-bottom: 0.5em;
}

blockquote
{
	text-align: center;

	width: 50%;

	margin: auto;

	color: #e2e2e2;

	font-size: 1.5em;

	line-height: 2em; 

	background-color: rgba(255, 215, 0, 0.5);
}

blockquote h4
{
	text-align: right;

	color: white;

	font-weight: 1em;
}

.description_main strong
{
	color: orange;

	font-weight: bold;
}

.description_main a
{
	text-decoration: underline;
}

.description_main a:hover
{
	color: red;
}

.description_main legend
{
	color: grey;

	text-align: right;

	position: absolute;
	z-index: 1;
	bottom: 2.5em;
	right: 0.5em;

	font-style: italic;
	font-weight: 0.7em;
	font-family: Calibri; "Comic Sans MS", Helvetica, sans-serif;
}

.images_div
{
	position: relative;

	z-index: 1;
}

.images_ethique
{
	width : 100%;
	margin-top: 1.5em;
	margin-bottom: 2em;
}

/* Media Queries */
/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
@media all and (min-width: 800px) and (max-width: 1280px)
{
    /* On met en page le header de la page : taille du logo / de l'image / etc... */
        .titrepage
        {
        margin-top: 0.3em;
        font-size: 3em;
        }

        .h1
        {
            margin-top: 1.5em;
        }

        .titre_image_logo
        {
            width: 7em;

            margin-top: -0.8em;
        }

        .image_illustration
        {
            width: 80%;
        }

        /* Ici on gère la taille de l'affichage principal main */
        #main_bis
        {
        width: 80vw;
        
        padding-top: 0.5em;
        padding-bottom: 1em;
        padding-right: 2vw;
        padding-left: 2vw;
        }

        #headersection {
        height: 4em;
        margin-top: 1em;
        }

                /* Mise en page de la section principale */
        .main_section {
    width: 80%;

    padding-right: 2vw;
    padding-left: 2vw;

    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    margin-bottom: 4em;
        }

        .main_section p {
        font-size: 1em;
        margin-bottom: 1em;
        margin-left: 0.5em;
        margin-right: 0.5em;
        }

        .images_logo
        {
            width: 12%;
        }
}

@media all and (min-width: 600px) and (max-width: 800px)
{
    /* On met en page le header de la page : taille du logo / de l'image / etc... */
        .titrepage
        {
        margin-top: 0.3em;
        font-size: 2.5em;
        }

        .h1
        {
            margin-top: 1.5em;
        }

        .titre_image_logo
        {
            width: 7em;

            margin-top: -0.8em;
        }

        .image_illustration
        {
            width: 80%;
        }

        /* Ici on gère la taille de l'affichage principal main */
        #main_bis
        {
        width: 90vw;
        
        padding-top: 0.5em;
        padding-bottom: 1em;
        padding-right: 2vw;
        padding-left: 2vw;
        }

        #headersection {
        height: 4em;
        margin-top: 1em;
        }

                /* Mise en page de la section principale */
        .main_section {
    width: 90%;

    padding-right: 2vw;
    padding-left: 2vw;

    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    margin-bottom: 4em;
        }

        .main_section p {
        font-size: 0.9em;
        margin-bottom: 1em;
        margin-left: 0.5em;
        margin-right: 0.5em;
        }

        .images_logo
        {
            width: 15%;
        }
}


@media all and (max-width: 600px)
{
    /* On met en page le header de la page : taille du logo / de l'image / etc... */
        .titrepage
        {
            margin-top: 0.2em;
        }

        .titre_image_logo
        {
            width: 5em;

            margin-top: -1em;
        }

        .image_illustration
        {
            width: 80%;
        }

        /* Ici on gère la taille de l'affichage principal main */
        #main_bis
        {
        width: 90vw;
        
        padding-top: 0.5em;
        padding-bottom: 1em;
        padding-right: 2vw;
        padding-left: 2vw;
        }

        #headersection {
        height: 4em;
        margin-top: 1em;
        }

            /* Mise en page de la section principale */
        .main_section {
    width: 90%;

    padding-right: 2vw;
    padding-left: 2vw;

    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    margin-bottom: 4em;
        }

        .main_section p {
        font-size: 0.9em;
        margin-bottom: 1em;
        margin-left: 0.5em;
        margin-right: 0.5em;
        }

        .images_logo
        {
            width: 20%;
        }
}