
	

	body {
		height: 100%;
		background-image: url("../images/overlay.png"), -moz-linear-gradient(60deg, rgba(255, 165, 150, 0.1) 5%, rgba(0, 228, 255, 0.05)), url("../../../images/background/bg_materiel.jpg"); 
		background-image: url("../images/overlay.png"), -webkit-linear-gradient(60deg, rgba(255, 165, 150, 0.1) 5%, rgba(0, 228, 255, 0.05)), url("../../../images/background/bg_materiel.jpg"); 
		background-image: url("../images/overlay.png"), -ms-linear-gradient(60deg, rgba(255, 165, 150, 0.1) 5%, rgba(0, 228, 255, 0.05)), url("../../../images/background/bg_materiel.jpg"); 
		background-image: url("../images/overlay.png"), linear-gradient(60deg, rgba(255, 165, 150, 0.1) 5%, rgba(0, 228, 255, 0.05)), url("../../../images/background/bg_materiel.jpg"); 
		background-repeat: repeat,			no-repeat,			no-repeat;
		background-size: 100px 100px, cover,				cover; 
		background-position: top left,		center center,		bottom center;
		background-attachment: fixed,			fixed,				fixed;
		z-index: 0;
	}

		body:after 
		{
			content: '';
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: inherit;
			opacity: 0;
			z-index: 0;
			background-color: #ffffff;
			background-image: url("../images/overlay.png"), -moz-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35));
			background-image: url("../images/overlay.png"), -webkit-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35));
			background-image: url("../images/overlay.png"), -ms-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35));
			background-image: url("../images/overlay.png"), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35));
			background-repeat: repeat,			no-repeat;
			background-size: 100px 100px, cover;
			background-position: top left,		center center;
			-moz-transition: opacity 2.5s ease-out;
			-webkit-transition: opacity 2.5s ease-out;
			-ms-transition: opacity 2.5s ease-out;
			transition: opacity 2.5s ease-out;
		}

		body.is-preload:after {
			opacity: 1;
		}